body{
    width: 100vw;
    height: 100vh;
    background-color: rgb(7, 35, 78);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;

}
#game-board{
    width: 80vmin;
    height: 60vmin;
    background-color: rgb(218, 137, 32);
    border: 7px solid rgb(145, 83, 12);
    padding:0;
}

#player{
    width: 3vmin;
    height: 3vmin;
    background-color: indigo;
    margin:0;
    padding:0;
    position: relative;
    top: 10vmin;
    left: 20vmin;
}