:root{
    --unit: 10vmin;
}
body{
    width: 100vw;
    height: 100vh;
    background-color: rgb(46, 20, 8);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    image-rendering: pixelated;

}
#game-board{
    width: calc(var(--unit)*10);
    height: calc(var(--unit)*8);
    background-color: rgb(44, 44, 44);
    border: 8px solid rgb(145, 83, 12);
    padding:0;
    overflow: hidden;
    position: relative;
    -webkit-box-shadow: 5px 5px 5px 3px #000000; 
    box-shadow: 5px 5px 5px 3px #000000;
}


#player{
    background-image:url("images/Vittorio/V-0-0.png");
    background-size: var(--unit);
    width: var(--unit);
    height: var(--unit);
    margin:0;
    padding:0;
    position: absolute;
    top: calc(var(--unit)*3.5);
    left: calc(var(--unit)*4.5);
    z-index: 5;
    

}

#shadow{

    background-image:url("images/shadow.png");
    background-size: var(--unit);
    width: var(--unit);
    height: calc(var(--unit)*1.25);
    margin:0;
    padding:0;
    position: absolute;
    top: calc(var(--unit)*3.5);
    left: calc(var(--unit)*4.5);
    z-index: 4;
}

.highlight{
    width: var(--unit);
    height: var(--unit);
    background-color: rgba(255, 0, 0, 0.20);
    margin:0;
    padding:0;
    position: relative;
    z-index: 601;
}

#background{
    background-image:url("images/background.png");
    background-size: calc(var(--unit)*30);
    width:calc(var(--unit)*30);
    height: calc(var(--unit)*30);
    margin:0;
    padding:0;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
}
